body {
    background-color: #ccc;
}


.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #58fa60;
    font-weight: bolder;
}

.logo {
    font-size: 130%;
    padding-bottom: 0.8%;
    padding-right: 0.3%;
}

.logo {
    size: 150%;
}

.navbar a {
    color: #333;
    margin: 0 10px;
}

.navbar a:hover {
    color: #c23308fd;
    margin: 0 10px;
}

.navbar .nav-items-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.navbar .nav-items-right {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
}

.form-heading {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.Legend {
    font-weight: bold;
    font-size: 50px;
}

.Legend-2 {
    font-weight: bold;
    font-size: 25px;
}

.text {
    font-size: 17px;
    font-weight: bold;
}


.data {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.black-border {
    border: 2px solid #000000;
}

.link {
    color: #58fa60;
}

.link:hover {
    color: #c23308fd;
}

.bd {
    border: 1px double #756b6b;
    border-radius: 10px;

}

.input-display-container {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.input-display {
    width: 100%;
    white-space: pre-wrap;
}

.button-container {
    text-align: right;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .button-container {
        margin-top: 0px;
    }
}
