body {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* add this line to vertically center the logo and nav items */
    height: auto;
    background-color: #cbffd8;
    font-weight: bolder;
}

.logo-container {
    display: flex;
    align-items: center; /* add this line to horizontally center the logo */
    padding-left: 10px; /* add this line to create space between the logo and nav items */
}

.logo {
    display: flex;
    align-items: center;
    font-size: 130%;
    padding-bottom: 0.8%;
    padding-right: 0.3%;
}

.logo img {
    width: 50px;
    height: 50px;
}


.navbar a {
    color: #333;
    margin: 0 10px;
    align-items: center;
}

.navbar a:hover {
    color: #c23308fd;
    margin: 0 10px;
}

.navbar .nav-items-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.navbar .nav-items-right {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;

}

.form-heading {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.Legend {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
}

.Legend-2 {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Share Tech Mono', monospace;
}

.text {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
}

.data {
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.black-border {
    border: 2px solid #000000;
}

.link {
    color: #58fa60;
}

.link:hover {
    color: #c23308fd;
}

.bd {
    border: 1px double #756b6b;
    border-radius: 10px;
}


.input-display {
    width: 100%;
    white-space: pre-wrap;
}

.button-container {
    text-align: right;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .button-container {
        margin-top: 0px;
    }
}

.chat {
    position: flex;
    top: 0;
    right: 0;
    width: auto;
    padding: 2px;
    border-radius: 10px;
    max-width: 100%;
    resize: none;
    background-color: #cbffd8;
}

pre {
    white-space: pre-wrap; /* This is for the wrapping of the code block */
    word-wrap: break-word; /* This is for the wrapping of the long words */
}

.form-container {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-display-container {
    position: relative;
    height: calc(100% - 70px);
    overflow-y: hidden;
}

.form-group {
    margin-top: 10px;
}

.chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
