<!DOCTYPE html>
{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block body %}scrollToBottom(); clearInputField(){% endblock body %}

{% block main %}
{% if session['username'] %}
<fieldset class="form-container mb-5">
    <legend class="Legend">GPT-4</legend>
    <div class="form-group pd-1">
        <form method="POST" action="{{ url_for('gpt4') }}">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-display-container">
                        <div>
                            {% if chat %}
                                {% for message in chat %}
                                    {% if message['role'] == "user" %}
                                        <div class="text chat ml-2 mt-2 mr-2 mb-3">
                                            <span style="font-size: 30px;">You:</span> <span class="ml-2 mt-2 mr-2 mb-3"><pre>{{ message.get('content') }}</pre></span>
                                        </div>
                                    {% elif message['role'] == 'assistant' %}
                                        <div class="text chat ml-2 mt-2 mr-2 mb-5">
                                            <span style="font-size: 30px;">GPT-4:</span> <span class="ml-2 mt-2 mr-2 mb-3"><pre>{{ message.get('content') }}</pre></span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-12">
                        {{ form.chat_input(class="form-control form-control-lg ", id="chat_input") }}
                </div>
                <div class="col-lg-1 col-md-12 mt-lg-1 text-lg-right">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>
</fieldset>
{% else %}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh">
    <h1 style="font-size: 40px"><span class="text text-center">Please <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('signup') }}">Signup</a> to use this Feature </span></h1>
</div>


{% endif %}
{% endblock main %}

{% block scripts %}
function scrollToBottom() {
    window.scrollTo(0,document.body.scrollHeight);
}

function clearInputField() {
    document.getElementById("chat_input").value = "";
}

const textarea = document.querySelector("textarea");
textarea.addEventListener('keyup', e => {
    let scHeight = e.target.scrollHeight;
    if (e.target.value === '') {
        textarea.style.height = `46px`; // height of one line
    } else {
        textarea.style.height = `${scHeight}px`;
    }
});
{% endblock scripts %}