<!DOCTYPE html>
{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block main %}
<div class="full-page">
    <div class="row align-items-center">
        <div class="col-md-7">
            <pre class="text" style="font-size: 400%; margin-top: 10px;">Use the AI:</pre>
            <div style="display: flex;align-items:center; justify-content: center; border-radius: 20px;background-color: #cbffd8;">
                <pre class="text" style="margin-top: 10px;font-size: 400%; color: #333;">Break the Matrix</pre>
            </div>
            <div class="mt-4">
                <p class="text-muted font-weight-bold">Transforming CyberSecurity with AI's Power</p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="{{ url_for('static', filename='animation.gif') }}" alt="Logo" class="img-fluid mt-5" draggable="false">
        </div>
    </div>
</div>
<div class="products-div">
    <div class="row">
        <div class="col-md-12 mt-4 text" style="display: flex;align-items:center; justify-content: center;">
            <h1 style="font-size: 320%; "><b>Tools YOU May Need</b></h1>
        </div>
        <div class="col-md-3 tools-background">
            <h1 class="text-250 tools-container">Twint</h1>
            <p class="text-120">
                It is a tool written in Python to extract Information about anyone is Using <b>Twint</b> 
            </p>
        </div>
        <div class="col-md-3 tools-background">
            <h1 class="text-250 tools-container">GPT-4</h1>
            <p class="text-120">
                Leverage the power of OpenAI's <b>GPT-4</b> to make your life more <b>easier</b> and <b>simple</b> 
            </p>
        </div>
        <div class="col-md-3 tools-background">
            <h1 class="text-250 tools-container">Sherlock</h1>
            <p class="text-120">
                Find Username of <b>Anyone</b> on any Social Media Platform using Sherlock ( With Bio Data )
            </p>
        </div>
    </div>
</div>
{% endblock main %}