{% extends 'layout.html' %}

{% block head %}
{% endblock head %}

{% block stylesheet%}
.Legend {
    font-size:30px;
    font-color: red;
    margin: 2px
}
{% endblock stylesheet %}

<!-------------------------------------------------------------------------------------->

{% block main %}
    <div class="login-form mt-4">
        {{  forms.hidden_feild }}
        {{  forms.hidden_tag()}}
        <div class="col-md-8">
            <fieldset class="form-container">
                <legend class="Legend">Login</legend>
                <div class="form-group">
                    {{  forms.email.label(class="form-control-lable") }}
                    {{  forms.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{  forms.password.label(class="form-control-lable") }}
                    {{  forms.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{  forms.forget_password.label(class="form-control-lable") }}
                    {{  forms.forget_password(class="ml-2 form-control-md") }}
                </div>
                <div>
                    {{  forms.submit(class="btn btn-primary btn-block")}}
                </div>
            </fieldset>
        </div>
    </div>
{% endblock main %}
