{% extends 'layout.html' %}

{% block head %}
{% endblock head %}
<!-------------------------------------------------------------------------------------->

{% block main %}
<div class="login-form mt-4">
    {{  forms.hidden_tag()}}
    <div class="col-md-8">
        <fieldset class="form-container">
            <legend class="Legend">Login</legend>
            <form method="POST" action="{{ url_for('login') }}" class="form-group">
                {{  forms.csrf_token() }}
                <div class="form-group pd-1">
                    {{  forms.email.label(class="form-control-lable text") }}
                    {{  forms.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.password.label(class="form-control-lable text") }}
                    {{  forms.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.remember.label(class="form-check-label text") }}
                    {{  forms.remember(class="form-check-input ml-4") }}
                </div>
                <div>
                    {{  forms.submit(class="btn btn-primary bttn")}}
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock main %}
