<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/memes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Shahzeb\Desktop\Python Projects\Flask\templates\style.css">
    <title>Meme Website</title>
</head>
<body>
    <div class="Image">
        <img src="{{subreddit}}" alt="meme pic">
    </div>
    <script>
        document.addEventListener('click', function() { 
        location.reload();
        });
    </script>
</body>
</html>