{% extends 'layout.html' %}
    

{% block head %}
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1/Memes">
{% endblock head %}
    

{% block stylesheet %}
    .image {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .Image {
        margin: 0 auto;
        max-width: 600px;
    }
{% endblock stylesheet %}
    


{% block main %}
    <div class="Image">
        <img class="image" src="{{subreddit}}" alt="meme pic">
    </div>
    <script>
        document.addEventListener('click', function() { 
        location.reload();
        });
    </script>
{% endblock main %}