{% extends 'layout.html' %}

{% block head %}
{% endblock head %}


{% block main %}
<div class="login-form mt-4">
    {{  forms.hidden_tag()}}
    <div class="col-md-8">
        <fieldset class="form-container">
            <legend class="Legend">Sign Up</legend>
            <form method="POST" action="{{ url_for('signup') }}" class="form-group">
                {{  forms.csrf_token() }}
                <div class="form-group pd-1">
                    {{  forms.username.label(class="form-control-lable text") }}
                    {{  forms.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.email.label(class="form-control-lable text") }}
                    {{  forms.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.password.label(class="form-control-lable text") }}
                    {{  forms.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.confirm_password.label(class="form-control-lable text") }}
                    {{  forms.confirm_password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group pd-1">
                    {{  forms.remember.label(class="form-control-lable text")}}
                    {{  forms.remember(class="ml-2 form-control-md")}}
                </div>
                <div class="form-group pd-1">
                    {{  forms.submit(class="btn btn-primary bttn")}}
                    <span class="data">
                    {% if data != None %}
                        {{ data }}
                    {% endif %}
                    </span>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock main %}
